<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>439240630704-0lpn7pgk7ir415h4va5mpgori6jp75ih.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.439240630704-0lpn7pgk7ir415h4va5mpgori6jp75ih</string>
	<key>API_KEY</key>
	<string>AIzaSyC1d4HrNL4lJbIo-aa8Aq1LfXmdfk3z6qU</string>
	<key>GCM_SENDER_ID</key>
	<string>439240630704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pwacoth.hello</string>
	<key>PROJECT_ID</key>
	<string>flutterpwa-2ac53</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterpwa-2ac53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:439240630704:ios:510ef7839f1b14fe78b675</string>
	<key>DATABASE_URL</key>
	<string>https://flutterpwa-2ac53.firebaseio.com</string>
</dict>
</plist>